In [1]:
# QUESTION.1 What is database? Differentiate between SQL and NoSQL database.
# ANSWER A database is a structured collection of daya that is organised and stored in a way that allows for efficient 
# retrieval, updating, and management of that data. Database are essential for storing and managing large volumes of 
# information in various application, from websites to business system.
#         SQL DATABASE:
# 1.STRUCTURE DATA: SQL database are relational and work well with structured data, which means data is organized into tables 
# with predefined schemas.
# 2.ACID Transactions: They support ACID(Atomicity,Consistency,Isolation,Durability) transations,ensuring data consistency 
# and  reliability.
# 3. VERTICAL SCALING: SQL database typically scale vertically, meaning you can increase peroformance by adding more resource
# (e.g.,CPU,RAM) to a single server.
# EXAMPLE: MySQL,PostgreSQL,Oracle,MicrosoftSQL Server.

#        NoSQL Database:
# 1. Flexible Data Modles: NoSQL database are designed to handle unstructured or semi-structured data, allowing flexiblity in 
# data formats and schemas.
# 2. BASE Transaction: They use BASE(Basically Available,soft state,Eventually consistency.) transactions, prioritizing 
# availability and scalability over strong consistency. 
# 3. Horizontal scaling : NoSQL database typically scale horizontally, distributing data across multiple servers to handle 
# high traffic loads.
#     EXAMPLE: MongoDB, Cassandra,Redis, Amazon DynamoDB.

In [ ]:
# QUESTION.2 What is DDL? Explain why CREATE,DROP ALERT, and TRUNCATE are used with an example.
# ANSWER DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used for defining
# and managing the structure of a database, including tables, indexes, and constraints. DDL statements are used to create,
# modify, and delete database objects.  
#                some common DDL statements and their explanations with examples:

# 1. CREATE: Purpose: The CREATE statement is used to create new database objects, such as tables, views, indexes, and 
# constraints.
# Example : 
 CREATE TABLE employees (
     employee_id INT PRIMARY KEY,
     first_name VARCHAR(50),
     last_name VARCHAR(50),
     hire_date DATE
 );

# 2. DROP: Purpose: The DROP statement is used to delete existing database objects, such as tables, views, or indexes. 
# Example : 
 DROP TABLE employees;

# 3. ALTER: Purpose: Although not mentioned in your question, ALTER is also a DDL statement used to modify the structure of
# existing database objects, such as adding or dropping columns from a table.
# Example :
 ALTER TABLE employees
ADD COLUMN email VARCHAR(100);

# 4. TRUNCATE :Purpose: The TRUNCATE statement is used to remove all rows from a table while keeping the table structure
# intact. It's faster than the DELETE statement because it doesn't generate individual row delete statements and doesn't log
# individual row deletions.
#  Example :
 TRUNCATE TABLE employees;

In [ ]:
# QUESTION.3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# ANSWER 
# DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used to interact
# with and manipulate data stored in a relational database management system (RDBMS). DML statements are used to perform
# operations on the data within database tables.


# INSERT:
# (a) The INSERT statement is used to add new rows of data to a database table.
# (b) It allows you to specify the values to be inserted into each column of the table.
# (c) You can insert data into one or more rows at a time.
# EXAMPLE :
INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary)
VALUES (101, 'John', 'Doe', 50000);

# UPDATE:
# (a) The UPDATE statement is used to modify existing data in a database table.
# (b) It allows you to change the values of one or more columns in one or more rows based on a specified condition.
# EXAMPLE: 
UPDATE Employees
SET Salary = Salary + 5000
WHERE Salary < 50000;

# DELETE:
# (a)The DELETE statement is used to remove one or more rows from a database table based on a specified condition.
# (b)It does not delete the entire table but only the rows that match the condition.

DELETE FROM Employees
WHERE EmployeeID = 102;

In [ ]:
# QUESTION.4 What is DQL? Explain SELECT with an example.
# ANSWER 
# DQL stands for "Data Query Language," and it is a subset of SQL (Structured Query Language) used for querying and
# retrieving data from a relational database management system (RDBMS). SQL is divided into several sub-languages, and DQL is
# one of them, specifically focused on querying data from database tables. The primary SQL command used for data retrieval in
# DQL is the SELECT statement. 

#  EXAMPLE :
# SELECT Statement:
# The SELECT statement is used to retrieve data from one or more database tables. It allows you to specify which columns you
# want to retrieve, the table(s) from which you want to retrieve data, and conditions for filtering the data.

SELECT name, salary
FROM employees
WHERE department = 'Sales' AND salary > 50000;

In [ ]:
# QUESTION.5 Explain Primary Key and Foreign Key. 
# ANSWER      Primary Key:
# (a)A Primary Key is a unique identifier for each record (row) in a database table.
# (b)It ensures that there are no duplicate rows in the table and that each row can be uniquely identified.
# (c)Primary Keys are used to enforce entity integrity, which means that each row in a table represents a unique entity or
# record.
# (d)In most database management systems (DBMS), Primary Keys are implemented using one or more columns in a table with a
# unique constraint, ensuring that no two rows can have the same values in those columns.

#Common examples of Primary Keys include:
# A unique identification number, such as an employee ID or customer ID.
# A combination of columns that, when taken together, are unique, like a combination of a person's first name and last name.
#            Foreign Key :
# Foreign Key:

#(a) A Foreign Key is a column or set of columns in a table that is used to establish a link between the data in two tables.
#(b) It creates a relationship between tables based on the values in the Foreign Key column and the Primary Key column in
#   another table.
#(c) The purpose of a Foreign Key is to maintain referential integrity, which ensures that data in related tables remains
#     consistent and accurate.
#(d) Foreign Keys are used to enforce rules about data relationships, such as ensuring that a record in one table cannot be
#    created or updated if there is no corresponding record in the related table.
# Common examples of Foreign Keys include:
#  A column in an "order" table that references the Primary Key of a "customer" table to link each order to a specific 
#  customer.
#  A column in a "student" table that references the Primary Key of a "course" table to establish a relationship between
#  students and the courses they are enrolled in.

In [ ]:
# QUESTION.6 Write a python code to connect MySQL to python. Explain the cursor() and execute() method. 
# ANSWER 
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost'
    user = 'abc'
    passward = 'password'
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute('CRATE DATABASE if not exists test ')
mydb.close()

# The cursor() method is used to create a cursor object in your program. A cursor is like a pointer or an interface that
# allows you to interact with the database by executing SQL queries, fetching data, and performing other database operations.

# In Python, you typically use a database library (e.g., sqlite3 for SQLite, mysql.connector for MySQL) to establish a
# connection to the database. Once you have a connection, you can call the cursor() method on that connection object to 
# create a cursor.

# execute() method: 
# The 'execute()' method is used to send SQL commands or quires to the database using the cursor object. it allows you to 
# perform operations such as creating tables, inserting data, upadting records, or querting for information from the 
# database.

In [ ]:
# QUESTION.7 Give the order of execution of SQL clauses in an SQL query
# ANSWER 

# 1.FROM
# 2.WHERE 
# 3.GROUP BY
# 4.HAVING
# 5.SELECT
# 6.DISTINCT
# 7.ORDER BY
# 8.LIMIT/OFFSET
# 9.UNION/INTERSECT/EXCEPT